html {
  background-color: #dbd6cf;
  line-height: 1.5;
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans, Bevan", sans-serif;
  color: #fff;
  text-align: center;
}

header {
  margin: .3em;
}

body {
  background-color: #79756f;
  padding: .6em;
  text-align: center;
  text-decoration: inherit;
  margin: inherit;
  border-color: #595652;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav li {
  display: inline-block;
  background-color: #713837;
  color: #fff;
  text-align: center;
  list-style-type: georgian;
  padding: .5em .75em;
  border-radius: .3em;
}

ul:hover {
  color: #f33;
}
