html {
  background-color: #dbd6cf;
  line-height: 1.5;
  box-sizing: border-box;
}

h1 {
  font-family: "Bevan", sans-serif;
  color: #fff;
  text-align: center;
}

body {
  background-color: #79756f;
  margin: .3em;
  padding: .6em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ul li {
  display: inline-block;
  margin: auto;
  background-color: #713837;
  color: #fff;
  text-align: center;
  list-style-type: square;
}
